html {
  box-sizing: border-box;
  box-shadow: #343d46;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div {
  color: #ffff4f;
  display: flex;
}

.div1 {
  .span1 {
    height: 12px;
  }
  .div2 {
    width: 16px;
  }
}