html, body {
  margin: 0;
  padding: 0;
}

#container {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  position: fixed;
  display: flex;
}

#menu {
  flex-basis: 40px;
  border-right: 1px solid gray;
  background-color: gray;
}

#chartContainer {
  flex: 1;
}





